@model IEnumerable<SMStore.Entities.Slider>

@{
    ViewData["Title"] = "Slider";
}

<h1>Slider Yönetimi</h1>

<p>
    <a asp-action="Create" class="btn btn-outline-primary">Yeni Ekle</a>
</p>
<table class="table table-stripped table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Link)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    <img src="/Img/@Html.DisplayFor(modelItem => item.Image)" alt="" height="50" title="@item.Image" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Link)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Düzenle</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Sil</a>
            </td>
        </tr>
}
    </tbody>
</table>
